
/*Google Fonts*/
body {
	font-family: 'Poppins', sans-serif;
}

/*CSS Reset*/
*{
	margin:  0;
	padding:  0;
	box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../images/camille-bg.jpg");

  /* Full height */
  height: 300%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


nav {
	/*position: fixed;*/
	width: 100%;
}

/*Top Navbar start*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 768 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



.header{
	text-align: center;
}


div > #projects {
	background-color: transparent !important;
}

#pre-footer{
/*change background color*/
background-color: #002540;
/*text color*/
color: white;
/*padding: 1rem;*/
}

#pre-footer > div{
	display: inline-block;
	width: 50%;
}


#pre-footer > div > *{
/*	margin-top:  0.3rem;*/
/*	margin-bottom: 0.3rem;*/
}


footer{
	/*padding: 0.7rem;*/
	text-align: center;
	color: #f2f2f2;
	/*position: fixed;*/
}

footer span{
	/*margin-left: 0.5rem;
	margin-right: 0.5rem;*/
}

ul{
	list-style-type: none;
}


